{% extends 'blog_base.html' %}
{% block content %}
<div class='container'>
    <div class='jumbotron'>
        <h1 align='center'>welcome to myblog</h1>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;If we can only encounter each other<br> 
          rather than stay with each other then I wish we had never encountered
         <p class='pull-right'>---如果相见却不能相守，那相见不如不见</p>
        </p>
    </div> 
    <p align='center'><img src='/static/img/lonely.png'></p>
 </div>  
{% endblock %}
